body {
    background-color: rgb(102, 104, 98);
    font-family: Georgia, sans-serif ;
}


#main {
 background-color: rgb(190, 190, 14);
 padding: 10px;
}

.articulos {
    display: flex;
    flex-wrap: wrap;
}