body {
    background-color: grey;
    font-family: Georgia, sans-serif ;
}

#parrafoSup {
    text-align: center;
    background-color: antiquewhite;
}

#main {
 background-color: aqua;
}

.secciones {
    background-color: azure;
}

# main5{

