<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crescent Melody</title>
    <link href="/public/css/styles.css" rel="stylesheet">
</head>
<body>
    <div>
        <header>
            <div>
                <ul>
                    <li>Instrumentos de Cuerdas</li>
                    <hr>
                    <li>Instrumentos de Viento</li>
                    <hr>
                    <li>Teclados y Pianos</li>
                    <hr>
                    <li>Baterías y Percusión</li>
                    <hr>
                    <li>Padales y Accesorios</li>
                    <hr>
                    <li>Parlantes</li>
                    <hr>
                    <li>Micrófonos y Amplificadores</li>
                    <hr>
                    <li>Electrónica, Audio y Video</li>
                    <hr>
                    <li>Estudio de Grabación</li>
                    <hr>
                    <li>Equipos de DJ y Accesorios</li>
                    <hr>
                </ul>
                <h1>Crescent Melody</h1>
                    <p>"¡Instrumentos y equipos para encontrar tu melodía!"</p>
                <nav>
                    <form>
                        <input type="text" name="buscar">
                        <button type="submit">Buscar</button>
                    </form>
                    <a href="./login.html">Iniciar sesión</a>
                    <a href="./register.html">Registrarse</a>
                    <a href="./productCart.html">Carrito</a>
                </nav>
            </div>
        </header>
    </div>
    <main>
        <div>
            <section>
                <div>
                    <ul>
                        <li>MÁS POPULARES</li>
                        <li>MÁS VENDIDOS EN ESTA SEMANA</li>
                    </ul>
                    <div>
                        <div>
                            <!-- boton a la izquierda -->
                            <div>
                                <div class="prod1">
                                    <div>
                                        <a href="./productDetail.html">
                                            <div>
                                                <!-- Imagen del producto-->
                                            </div>
                                            <div>
                                                <div>
                                                    <!-- Precio -->
                                                    <h4>Precio</h4>
                                                </div>
                                                <p>
                                                    Nombre del Producto
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="prod2">
                                    <div>
                                        <a href="./productDetail.html">
                                            <div>
                                                <!-- Imagen del producto-->
                                            </div>
                                            <div>
                                                <div>
                                                    <!-- Precio -->
                                                    <h4>Precio</h4>
                                                </div>
                                                <p>
                                                    Nombre del Producto
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="prod3">
                                    <div>
                                        <a href="./productDetail.html">
                                            <div>
                                                <!-- Imagen del producto-->
                                            </div>
                                            <div>
                                                <div>
                                                    <!-- Precio -->
                                                    <h4>Precio</h4>
                                                </div>
                                                <p>
                                                    Nombre del Producto
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="prod4">
                                    <div>
                                        <a href="./productDetail.html">
                                            <div>
                                                <!-- Imagen del producto-->
                                            </div>
                                            <div>
                                                <div>
                                                    <!-- Precio -->
                                                    <h4>Precio</h4>
                                                </div>
                                                <p>
                                                    Nombre del Producto
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="prod5">
                                    <div>
                                        <a href="./productDetail.html">
                                            <div>
                                                <!-- Imagen del producto-->
                                            </div>
                                            <div>
                                                <div>
                                                    <!-- Precio -->
                                                    <h4>Precio</h4>
                                                </div>
                                                <p>
                                                    Nombre del Producto
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- boton a la derecha -->
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div>
            <section>
                <ul>
                    <li>
                        <a href="">
                            <strong>MÉTODO DE PAGO</strong>
                            <p>Paga tus compras por el medio que quieras</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <strong>ENVÍOS GRATIS</strong>
                            <p>Ver productos</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <strong>CARRITO</strong>
                            <p>Mira tus compras hasta el momento</p>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </main>
    <footer>
        <div>
            <div>
                <!-- Logo con link-->
            </div>
            <p>
                Descripción de la tienda
            </p>
        </div>
        <div>
            <h4>INFO</h4>
            <ul>
                <li><a href="">Sobre nosotros</a></li>
                <li><a href="">Términos y acuerdos</a></li>
                <li><a href="">Cómo comprar</a></li>
            </ul>
            <h4>CONTACTO</h4>
            <ul>
                <li><a href="">Nro de teléfono</a></li>
                <li><a href="">Correo</a></li>
                <li>Dirección</li>
            </ul>
        </div>
    </footer>
</body>
</html>