<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crescent Melody</title>
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d6458ce523.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="conteiner-sup">
            <img src="/images/CATARSIS.png" width="80px">

                <form class="barra-de-busqueda">
                    <input type="text" name="buscar" placeholder="Buscar">
                    <button type="submit" id="busqueda-boton"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <a href="./login.html">Iniciar sesión</a>
                    <a href="./register.html">Registrarse</a>
                </form>  
        </div>
        
        <div>
            <ul type="none" class="menu-burger">
            <li class="menu-burger__opcion">
                <a class="menu-burger__seccion-link" href="">Instrumentos de Cuerdas</a>
            </li>
            <li class="menu-burger__opcion">
                <a class="menu-burger__seccion-link" href="">Instrumentos de Viento</a>
            </li>
            <li class="menu-burger__opcion">
                <a class="menu-burger__seccion-link" href="">Teclados y Pianos</a>
            </li>
            <li class="menu-burger__opcion">
                <a class="menu-burger__seccion-link" href="">Baterías y Percusión</a>
            </li>
            <li class="menu-burger__opcion">
                <a class="menu-burger__seccion-link" href="">Padales y Accesorios</a>
            </li>
            <li class="menu-burger__opcion">
                <a class="menu-burger__seccion-link" href="">Parlantes</a>
            </li>
            <li class="menu-burger__opcion">
                <a class="menu-burger__seccion-link" href="">Micrófonos y Amplificadores</a>
            </li>
            <li class="menu-burger__opcion">
                <a class="menu-burger__seccion-link" href="">Electrónica, Audio y Video</a>
            </li>
            <li class="menu-burger__opcion">
                <a class="menu-burger__seccion-link" href="">Estudio de Grabación</a>
            </li>
            <li class="menu-burger__opcion">
                <a class="menu-burger__seccion-link" href="">Equipos de DJ y Accesorios</a>
            </li>
            </ul>  
        </div>

        </div>

    </header>
    <div class="banner">
        <!-- banner -->
    </div>
</div>

<main>
    <h2>BUSCAR POR CATEGORIAS</h2>
        <div>
            <section>
                <div class="categorias">
                    <h4>Viento</h4>
                    <img src="/images/trompeta.jpg">
                </div>
                <div class="categorias">
                    <h4>Percusion</h4>
                    <img src="/images/redoblante.jpg">
                </div>
                <div class="categorias">
                    <h4>Cuerda</h4>
                    <img src="/images/guitarra-clasica-valencia.jpg">
                </div>
                <div class="categorias">
                    <h4>Electricos</h4>
                    <img src="/images/piano.jpg">
                </div>
            </section>
        </div>
    <h2>DESTACADOS</h2>
        <div>
            <section>
                <div class="categorias">
                    <img src="/images/trompeta-2.jpg">
                    <p>Trompeta Bb Lincoln Winds Jytr1401 Dorada Estuche</p>
                    <p>$ 274.000</p>
                </div>
                <div class="categorias">
                    <img src="/images/bateria-2.jpg">
                    <p>Bateria Acústica Parquer 5 Cuerpos Negra Platillos Soporte</p>
                    <p>$ 311.357</p>
                </div>
                <div class="categorias">
                    <img src="/images/ukelele.jpg">
                    <p>Ukelele Tenor Electro Acustico Bamboo U-26 Sapele Con Eq</p>
                    <p>$ 99.773</p>
                </div>
                <div class="categorias">
                    <img src="/images/violin.jpg">
                    <p>Violin 1/4 Custom Parquer Estuche/arco/resina Vl925 Cuota</p>
                    <p>$ 65.792</p>
                </div>
            </section>
        </div>
    <h2>OFERTAS</h2>
    <div>
        <section>
            <div class="categorias">
                <img src="/images/charango.jpg">
                <p>Charango Mantini Caja De Cedro Tallado Tapa De Abeto</p>
                <p>$ 168.657</p>
            </div>
            <div class="categorias">
                <img src="/images/panderetas.jpg">
                <p>Pandereta Pandero 6 Knight 15 Cm Con Parche Y Sonaja 1712</p>
                <p>$ 5.719</p>
            </div>
            <div class="categorias">
                <img src="/images/platillos.jpg">
                <p>Arborea Mute Gold Matte Set Platillos Bajo Volumen Practica</p>
                <p>$ 107.635</p>
            </div>
            <div class="categorias">
                <img src="/images/saxofon.jpg">
                <p>Saxo Alto Yamaha Yas-280 Completo Con Estuche Boquilla Caña</p>
                <p>$ 1.663.636</p>
            </div>
        </section>
    </div>
</main>

<footer>
    
    <section>
        <div>
          <h2>CATARSIS MELODY  Instrumentos musicales al mejor precio</h2>  
          <p>Envio gratis a todo el pais y hasta 18 cuotas sin interes.</p>
          <p>Guitarras, Home estudio, Audio profesional y mucho mas.</p>
        </div>
    </section>
        
    <section>
        <div>
            <h2>Links</h2>  
            <p>Nosotros</p>
            <p>Terminos y Condiciones</p>
            <p>Contacto</p>
        </div>
    </section>

    <section>
        <div>
            <h2>Mi cuenta</h2>
            <p>Mi cuenta</p>
            <p>Carrito</p>
            <p>Registrese!</p>
        </div>
    </section>

    <section>             
        <div>
            <h2>INFO</h2>
            <ul type="none">
                <li><a href="#">Quienes Somos</a></li>
                <li><a href="#">Promociones</a></li>
                <li><a href="#">Como Comprar</a></li>
                <li><a href="#">Boton de Arrepentimiento</a></li>
                <li><a href="#">Trabaja con nosotros</a></li>
            </ul>  
        </div>    
    </section>

    <section>
        <div>
            <h2>CONTACTO</h2>
            <ul type="none">
                <li><a href="#">1568270533</a></li>
                <li><a href="#">info@CrescentMelody.com.ar</a></li>
            </ul>  
        </div>   
    </section>

    <section>
        <div class="redes">
            <h2>SEGUINOS</h2>
            <ul type="none">
                <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></i></a></li>
            </ul> 
        </div>
    </section>


</footer>


</body>
</html>