<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/detallesCarrito.css">
    <script src="https://kit.fontawesome.com/d6458ce523.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <div><p id="parrafoSup">12 y 18 cuotas fijas en todos los productos</p></div>
        <div>
            <section>

            </section> 
        </div>
    </header>
        <main>
            <div><h1>CARRITO DE COMPRAS</h1></div>
            <div class="contenedorPadre">
                <div class="contenedorHijo">
                    <img src="/images/guitarra-clasica-valencia.jpg" alt="" class="producto-foto">
                    <div>
                        <h3>guitarra electrica sound crescente-melody</h3>
                        <a href="#">eliminar</a>
                    </div>
                    <div>
                        <p>cantidad</p>
                        <input type="number" value="1" min="1" max="10"> 
                    </div>
                    <div>
                        <p>precio</p>
                        <p>$250.000</p>   
                    </div>
                </div>
                <div class="contenedorHijo">
                    <img src="/images/bateria-pearl.jpg" alt="" class="producto-foto">
                    <div>
                        <h3>Bateria Pearl Decade Maple 229 White Satin Pearl 4 Cuerpos</h3>
                        <a href="#">eliminar</a>
                    </div>
                    <div>
                        <p>cantidad</p>
                        <input type="number" value="1" min="1" max="10"> 
                    </div>
                    <div>
                        <p>precio</p>
                        <p>$470.000</p>
                    </div>
                </div>
                <div class="contenedorHijo">
                    <img src="/images/guitarra-negra-criolla-gracia-.jpg" alt="" class="producto-foto">
                    <div>
                        <h3>guitarra negra criolla Gracia</h3>
                        <a href="#">eliminar</a>
                    </div>
                    <div>
                        <p>cantidad</p>
                        <input type="number" value="1" min="1" max="10"> 
                    </div>
                    <div>
                        <p>precio</p>
                        <p>$600.000</p>
                    </div>
                </div>
            </div>
        </main>
    




    <footer>
        <section>
            <div>
              <h2>Crescent Melody - Instrumentos musicales al mejor precio</h2>  
            </div>
            <div>
              <p>
                Envio gratis a todo el pais y hasta 18 cuotas sin interes. Guitarras, Home estudio, Audio profesional y mucho mas.
              </p>
            </div>

        </section>
            
        <section>
            <div>
              <h2>Links</h2>  
            </div>
            <div>
                <p>Nosotros</p>
                <p>Terminos y Condiciones</p>
                <p>Contacto</p>
            </div>
        </section>

        <section>
            <div>
                <h2>Mi cuenta</h2>
            </div>
            <div>
                <p>Mi cuenta</p>
                <p>Carrito</p>
                <p>Registrese!</p>
            </div>
        </section>

        <section>
            <div>
               <h2>INFO</h2> 
                    
               <ul type="none">
                        <li><a href="#">Quienes Somos</a></li>
                        <li><a href="#">Promociones</a></li>
                        <li><a href="#">Como Comprar</a></li>
                        <li><a href="#">Boton de Arrepentimiento</a></li>
                        <li><a href="#">Trabaja con nosotros</a></li>
                     </ul>
            </div>
            <div>
                <h2>CONTACTO</h2>
                    <ul>
                        <li><a href="#">1568270533</a></li>
                        <li><a href="#">info@CrescentMelody.com.ar</a></li>
                    </ul>
            </div>
            <div>
                <h2>SEGUINOS</h2>
                    <ul>
                        <li><img src="facebook"></li>
                        <li><img src="instagram"></li>
                        <li><img src="youtube"></li>
                    </ul>
            </div>
        </section>
    </footer>

</body>
</html>