<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/productCart.css">
    <script src="https://kit.fontawesome.com/d6458ce523.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="contenedor-encabezado-principal">
        <header id="encabezado-principal">
            <div class="menu">
                <button class="menu-burger-boton">Menú</button>
                <ul type="none" class="menu-burger">
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Instrumentos de Cuerdas</a>
                    </li>
                    <hr>
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Instrumentos de Viento</a>
                    </li>
                    <hr>
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Teclados y Pianos</a>
                    </li>
                    <hr>
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Baterías y Percusión</a>
                    </li>
                    <hr>
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Padales y Accesorios</a>
                    </li>
                    <hr>
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Parlantes</a>
                    </li>
                    <hr>
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Micrófonos y Amplificadores</a>
                    </li>
                    <hr>
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Electrónica, Audio y Video</a>
                    </li>
                    <hr>
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Estudio de Grabación</a>
                    </li>
                    <hr>
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Equipos de DJ y Accesorios</a>
                    </li>
                </ul>
            </div>
            <h1 id="nombre-de-la-tienda">Crescent Melody</h1>
            <div class="contenedor-navegacion-principal">
                <nav id="navegacion-principal">
                    <form class="barra-de-busqueda">
                        <input type="text" name="buscar" id="busqueda" placeholder="Buscar">
                        <button type="submit" id="busqueda-boton">Buscar</button>
                    </form>
                    <div class="contenedor-usuario">
                        <a class="carrito" href="./productCart.html">Cart</a>
                        <button class="usuario-boton">User</button>
                        <ul type="none" class="usuario">
                            <li class="usuario__opcion">
                                <a class="usuario__opcion-link" href="./login.html">Iniciar sesión</a>
                            </li>
                            <hr>
                            <li class="usuario__opcion">
                                <a class="usuario__opcion-link" href="./register.html">Registrarse</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div class="banner">
            <!-- banner -->
        </div>
    </div>       
    <main>
        <div class="contenedorPadre">
            <div class="contenedorHijo">
                <img src="/images/guitarra-clasica-valencia.jpg" alt="" class="producto-foto">
                <div class="items">
                    <h3 class="texto-largo">guitarra electrica sound crescente-melody</h3>
                    <a href="#">eliminar</a>
                </div>
                <div class="items">
                    <p>cantidad</p>
                    <input type="number" value="1" min="1" max="10"> 
                </div>
                <div class="items">
                    <p>precio</p>
                    <p>$250.000</p>   
                </div>
            </div>
            <div class="contenedorHijo">
                <img src="/images/bateria-pearl.jpg" alt="" class="producto-foto">
                <div class="items">
                    <h3 class="texto-largo">Bateria Pearl Decade Maple 229 White Satin Pearl 4 Cuerpos</h3>
                    <a href="#">eliminar</a>
                </div>
                <div class="items">
                    <p>cantidad</p>
                    <input type="number" value="1" min="1" max="10"> 
                </div>
                <div class="items">
                    <p>precio</p>
                    <p>$470.000</p>
                </div>
            </div>
            <div class="contenedorHijo">
                <img src="/images/guitarra-negra-criolla-gracia-.jpg" alt="" class="producto-foto">
                <div class="items">
                    <h3 class="texto-largo">Guitarra Negra Clasica Valencia | Intermedio | Tamaño Niño | VC203CSB | Color Esfumado Clasico Satinado</h3>
                    <a href="#">eliminar</a>
                </div>
                <div class="items">
                    <p>cantidad</p>
                    <input type="number" value="1" min="1" max="10"> 
                </div>
                <div class="items">
                    <p>precio</p>
                    <p>$600.000</p>
                </div>
            </div>
        </div>
    </main>
    <footer id="pie-de-pagina">
        <div class="contenedor-de-descripcion-tienda">
            <div id="logo-pie-de-pagina">
                <!-- Logo con link-->
            </div>
            <p class="descripcion-tienda">
                <span class="nombre-tienda">Crescent Melody</span><br>"¡Instrumentos y equipos para encontrar tu melodía!"<br>Tienda de instrumentos músicales al mejor precio.<br>Envío a todo el país y hasta 12 cuotas sin interés.
            </p>
        </div>
        <div class="contenedor-de-informacion">
            <h4 class="info-contacto">INFO</h4>
            <ul type="none" class="informacion">
                <li class="informacion__opcion">
                    <a class="informacion__opcion-link" href="">Sobre nosotros</a>
                </li>
                <li class="informacion__opcion">
                    <a class="informacion__opcion-link" href="">Términos y acuerdos</a>
                </li>
                <li class="informacion__opcion">
                    <a class="informacion__opcion-link" href="">Cómo comprar</a>
                </li>
            </ul>
            <h4 class="info-contacto">CONTACTO</h4>
            <ul type="none" class="contacto">
                <li class="contacto__opcion">+54-1234567</li>
                <li class="contacto__opcion">crescentmelody01@gmail.com</li>
                <li class="contacto__opcion">Dirección</li>
            </ul>
        </div>
    </footer>
</body>
</html>