<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
</head>
<body>

    <header>

    </header>
    
    <main>
        <h1>CARRITO DE COMPRAS</h1>
        <section>
            <article>
                <img src="">
                <p>Guitarra Electrica Gibson Les Paul Tribute</p>
                <p>color: satin cherry sunburst</p>
                <p>Envio gratis!</p>
                <p>eliminar</p>
                <span> comprar ahora</span>
            </article>

            <article>

            </article>
        </section>
            <div>

            </div>

            <div>

            </div>

            <div>

            </div>
        <section>

            <h2>recomendaciones para vos</h2>
            <ul></ul>

            <h2>productos que te interesaron</h2>
            <ul></ul>

        </section>

    </main>

    <footer>
        <section>
            <div>
              <h2>Crescent Melody - Instrumentos musicales al mejor precio</h2>  
            </div>
            <div>
              <p>
                Envio gratis a todo el pais y hasta 18 cuotas sin interes. Guitarras, Home estudio, Audio profesional y mucho mas.
              </p>
            </div>

        </section>
            
        <section>
            <div>
              <h2>Links</h2>  
            </div>
            <div>
                <p>Nosotros</p>
                <p>Terminos y Condiciones</p>
                <p>Contacto</p>
            </div>
        </section>

        <section>
            <div>
                <h2>Mi cuenta</h2>
            </div>
            <div>
                <p>Mi cuenta</p>
                <p>Carrito</p>
                <p>Registrese!</p>
            </div>
        </section>

        <section>
            <div>
               <h2>INFO</h2> 
                    
               <ul type="none">
                        <li><a href="#">Quienes Somos</a></li>
                        <li><a href="#">Promociones</a></li>
                        <li><a href="#">Como Comprar</a></li>
                        <li><a href="#">Boton de Arrepentimiento</a></li>
                        <li><a href="#">Trabaja con nosotros</a></li>
                     </ul>
            </div>
            <div>
                <h2>CONTACTO</h2>
                    <ul>
                        <li><a href="#">1568270533</a></li>
                        <li><a href="#">info@CrescentMelody.com.ar</a></li>
                    </ul>
            </div>
            <div>
                <h2>SEGUINOS</h2>
                    <ul>
                        <li><img src=""></li>
                        <li><img src=""></li>
                        <li><img src=""></li>
                    </ul>
            </div>
        </section>
    </footer>

</body>
</html>