<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Detalle de Producto - Guitarra Modelo 84</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="product-container">
        <div class="product-header">
            <img src="https://http2.mlstatic.com/D_NQ_NP_998961-MLA49446070370_032022-O.webp" alt="Guitarra Modelo 84" class="product-image">
            <h1 class="product-title">Guitarra Modelo 84</h1>
        </div>

        <div class="product-details">
            <div class="product-description">
                <h2>Descripción del Producto</h2>
                <p>Guitarra de fina construcción con corte. Media Caja. Tapa de Pino Abeto macizo seleccionado con mosaicos. Aros y fondo de Caoba laminado. Finísima marquetería en aros y fondos. Cenefa central. Mástil de Cedro y terminación mate. Diapasón de Jacarandá. Trastes de Alpaca. Clavijero Lira Dorado. Lustre natural. Excelente terminación. Cuerdas SAVAREZ New Cristal Corum Rojo/Azul Media Tensión. CON ECULIAZADOR PROFESIONAL CON SALIDA CANON Y SISTEMA DE ECUALIZACIÓN AUTOMÁTICA</p>
            </div>
            <div class="product-price">
                <h2>Precio</h2>
                <p class="price">$40.000</p>
            </div>
        </div>

        <div class="product-options">
            <h2>Opciones Disponibles</h2>
            <section>
                <h3>Color:</h3>
                <p>Marrón</p>
            </section>
            <section>
                <h3>Cantidad:</h3>
                <input type="number" value="1" min="1" max="10">
            </section>
        </div>

        <div class="product-payment">
            <h2>Envío a Todo el País</h2>
            <p>Realizamos envíos a todas las provincias de Argentina.</p>
            <h2>Formas de Pago</h2>
            <p>Aceptamos pagos en efectivo y con tarjeta de crédito. Hasta 12 cuotas sin interés.</p>
        </div>

        <button class="add-to-cart-button">Agregar al Carrito</button>
    </div>
    <script src="script.js"></script>
</body>
</html>
