<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Detalle de Producto - Guitarra Modelo 84</title>
    <link rel="stylesheet" href="/public/css/productDetail.css">
</head>
<body>
    <div class="contenedor-encabezado-principal">
        <header id="encabezado-principal">
            <div class="menu">
                <button class="menu-burger-boton">Menú</button>
                <ul type="none" class="menu-burger">
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Instrumentos de Cuerdas</a>
                    </li>
                    <hr>
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Instrumentos de Viento</a>
                    </li>
                    <hr>
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Teclados y Pianos</a>
                    </li>
                    <hr>
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Baterías y Percusión</a>
                    </li>
                    <hr>
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Padales y Accesorios</a>
                    </li>
                    <hr>
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Parlantes</a>
                    </li>
                    <hr>
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Micrófonos y Amplificadores</a>
                    </li>
                    <hr>
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Electrónica, Audio y Video</a>
                    </li>
                    <hr>
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Estudio de Grabación</a>
                    </li>
                    <hr>
                    <li class="menu-burger__opcion">
                        <a class="menu-burger__seccion-link" href="">Equipos de DJ y Accesorios</a>
                    </li>
                </ul>
            </div>
            <h1 id="nombre-de-la-tienda">Crescent Melody</h1>
            <div class="contenedor-navegacion-principal">
                <nav id="navegacion-principal">
                    <form class="barra-de-busqueda">
                        <input type="text" name="buscar" id="busqueda" placeholder="Buscar">
                        <button type="submit" id="busqueda-boton">Buscar</button>
                    </form>
                    <div class="contenedor-usuario">
                        <a class="carrito" href="./productCart.html">Cart</a>
                        <button class="usuario-boton">User</button>
                        <ul type="none" class="usuario">
                            <li class="usuario__opcion">
                                <a class="usuario__opcion-link" href="./login.html">Iniciar sesión</a>
                            </li>
                            <hr>
                            <li class="usuario__opcion">
                                <a class="usuario__opcion-link" href="./register.html">Registrarse</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div class="banner">
            <!-- banner -->
        </div>
    </div>
    <div class="product-container">
        <div class="product-header">
            <img src="https://http2.mlstatic.com/D_NQ_NP_998961-MLA49446070370_032022-O.webp" alt="Guitarra Modelo 84" class="product-image">
            <h1 class="product-title">Guitarra Modelo 84</h1>
        </div>

        <div class="product-details">
            <div class="product-description">
                <h2>Descripción del Producto</h2>
                <p>Guitarra de fina construcción con corte. Media Caja. Tapa de Pino Abeto macizo seleccionado con mosaicos. Aros y fondo de Caoba laminado. Finísima marquetería en aros y fondos. Cenefa central. Mástil de Cedro y terminación mate. Diapasón de Jacarandá. Trastes de Alpaca. Clavijero Lira Dorado. Lustre natural. Excelente terminación. Cuerdas SAVAREZ New Cristal Corum Rojo/Azul Media Tensión. CON ECULIAZADOR PROFESIONAL CON SALIDA CANON Y SISTEMA DE ECUALIZACIÓN AUTOMÁTICA</p>
            </div>
            <div class="product-price">
                <h2>Precio</h2>
                <p class="price">$40.000</p>
            </div>
        </div>

        <div class="product-options">
            <h2>Opciones Disponibles</h2>
            <section>
                <h3>Color:</h3>
                <p>Marrón</p>
            </section>
            <section>
                <h3>Cantidad:</h3>
                <input type="number" value="1" min="1" max="10">
            </section>
        </div>

        <div class="product-payment">
            <h2>Envío a Todo el País</h2>
            <p>Realizamos envíos a todas las provincias de Argentina.</p>
            <h2>Formas de Pago</h2>
            <p>Aceptamos pagos en efectivo y con tarjeta de crédito. Hasta 12 cuotas sin interés.</p>
        </div>

        <button class="add-to-cart-button">Agregar al Carrito</button>
    </div>
    <script src="script.js"></script>
    <footer id="pie-de-pagina">
        <div class="contenedor-de-descripcion-tienda">
            <div id="logo-pie-de-pagina">
                <!-- Logo con link-->
            </div>
            <p class="descripcion-tienda">
                <span class="nombre-tienda">Crescent Melody</span><br>"¡Instrumentos y equipos para encontrar tu melodía!"<br>Tienda de instrumentos músicales al mejor precio.<br>Envío a todo el país y hasta 12 cuotas sin interés.
            </p>
        </div>
        <div class="contenedor-de-informacion">
            <h4 class="info-contacto">INFO</h4>
            <ul type="none" class="informacion">
                <li class="informacion__opcion">
                    <a class="informacion__opcion-link" href="">Sobre nosotros</a>
                </li>
                <li class="informacion__opcion">
                    <a class="informacion__opcion-link" href="">Términos y acuerdos</a>
                </li>
                <li class="informacion__opcion">
                    <a class="informacion__opcion-link" href="">Cómo comprar</a>
                </li>
            </ul>
            <h4 class="info-contacto">CONTACTO</h4>
            <ul type="none" class="contacto">
                <li class="contacto__opcion">+54-1234567</li>
                <li class="contacto__opcion">crescentmelody01@gmail.com</li>
                <li class="contacto__opcion">Dirección</li>
            </ul>
        </div>
    </footer>
</body>
</html>
