<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/css/DetallesRegister.css">
  <title>Formulario Registro</title>
</head>
<body>
  <section class="form-register">
    <h4>Formulario Registro</h4>
    <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingrese Su Nombre Completo">
    <input class="controls" type="text" name="nombre del usuario" id="nombre del usuario" placeholder="Ingrese su Nombre de usuario">
    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo electronico">
    <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
    <input class="controls" type="password" name="correo" id="correo" placeholder="Repetir Contraseña">
    <p>Esta de acuerdo con  <a href="#">Terminos y Condiciones</a></p>
    <input class="botons" type="submit" value="cancelar">
    <input class="botons" type="submit" value="registrar">
    <p><a href="#">¿Ya tienes una Cuenta?</a></p>
  </section>

</body>
</html>
